body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    background-color: #222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar ul li a:hover {
    color: orange;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: white;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero span {
    color: orange;
}

.hero p {
    font-size: 18px;
    color: gray;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background-color: darkorange;
}

/* Sections */
.section {
    padding: 50px 20px;
    text-align: center;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #222;
}

.section p {
    max-width: 700px;
    margin: auto;
    font-size: 17px;
    color: #444;
}

/* Skills */
.skills-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.skill {
    background-color: orange;
    padding: 12px 25px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

/* Contact */
.contact-box {
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgray;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
.d1 {
  font-family: "Federant", serif;
  font-weight: 400;
  font-style: normal;
}
.d2 {
  font-family: "Federant", serif;
  font-weight: 400;
  font-style: normal;
}

